* {
  box-sizing: border-box;
}

main {
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-wrap: wrap;
}

main h1 h2 h3 {
  color: black;
}

.task-column {
  border: solid gray 2px;
  margin: 0 10px;
  background-color: lightgray;
}

.task-column h2 {
  color: black;
  text-decoration: underline;
}

.task-card {
  border: solid red 5px;
  border-radius: 20%;
  background-color: lightgoldenrodyellow;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
  padding: 20px;
  max-height: 300px;
  max-width: 250px;
  color: black;
  text-overflow: clip;
  overflow: hidden;
}

.task-card p {
  margin-bottom: 10px;
}

.card-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

footer p {
  margin-left: 20px;
  color: white;
}

header {
  background-color: green;
  padding: 20px;
  color: white;
}

header p {
  padding: 0;
  margin: 0;
}

header h3 h2 {
  margin: 0;
  padding: 0;
}
